<div class="col-md-12 body">
  <div class="card card-container signup">

    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
    <div class="signup">
      <img [src]="logo" alt="" width="50%" height="80%">
      <h1 class="h3 mb-3 fw-normal"> </h1>
      <mat-form-field class="ancho" hideRequiredMarker floatLabel='auto' appearance='outline'>
        <mat-label name="username">Username</mat-label>
        <input
          type="text"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel" matInput>
        <mat-error *ngIf="username.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="username.hasError('minlength')">
          Username must be at least <strong>3 characters</strong>
        </mat-error>
        <mat-error *ngIf="username.hasError('maxlength')">
          Username must be at least <strong>20 characters</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ancho" hideRequiredMarker floatLabel='auto' appearance='outline'>
        <mat-label name="email">Email</mat-label>
        <input
          type="email"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel" matInput>
          <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
      </mat-form-field>


      <mat-form-field class="ancho" hideRequiredMarker floatLabel='auto' appearance='outline'>
        <mat-label name="password">Password</mat-label>
        <input
          type="password"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="4"
          #password="ngModel"
          matInput>
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="password.hasError('minlength')">
          Password must be at least <strong>4 characters</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ancho" hideRequiredMarker floatLabel='auto' appearance='outline'>
        <mat-label name="verif_password">Verify Password</mat-label>
        <input
          type="password"
          name="verif_password"
          [(ngModel)]="form.password"
          required
          minlength="4"
          #password="ngModel"
          matInput>
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="password.hasError('minlength')">
          Password must be at least <strong>4 characters</strong>
        </mat-error>
      </mat-form-field>
      <div class="form-group">
        <button class="btn btn-success btn-block">Sign Up</button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
    <div class="center">
      <h4 class="h4 mb-4 fw-normal">I have an account
        <a href="/login" class="nav-link">Login now</a>
      </h4>
    </div>
  </div>
</div>
