<br>
<div class="container">
    <div *ngIf="user">
      <div class="row">
        <div class="col col-md-9">
          <form  [formGroup]="userForm" (ngSubmit)="saveUser()">
            <div class="form-group row">
              <label for="username" class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="username" [(ngModel)]="user.username" formControlName="username">
              </div>
            </div>
            <div class="form-group row">
              <label for="username" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="email" [(ngModel)]="user.email" formControlName="email">
              </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="password" [(ngModel)]="user.password" formControlName="password">
                </div>
              </div>


              <button class="button" type="submit">Save</button>

          </form>
        </div>
        <div class="col col-md-3">
          <div class="card" style="width: 18rem;">
            <div class="card-header">
              roles
            </div>

            <ul class="list-group list-group-flush" *ngFor="let role of user.roles">
              <li class="list-group-item">{{role.name}}</li>
            </ul>
            <li class="list-group-item" ><button class="btn btn-info" (click)="show()">Add Role</button></li>
            <div id="sessionsToAdd" class="input-group mb-3" hidden>

              <div class="input-group-prepend">
                <label class="input-group-text" id="chosenRole" for="chosenRole">Roles</label>
              </div>
              <select  class="custom-select"
              #mySelect
              (change)='onOptionsSelected(mySelect.value)'>
                <option [value]="role.id"
                [selected]="role.id"
                *ngFor="let role of roles">
                {{role.name}}</option>
              </select>
              </div>
            <button id="saveAdded" class="button btn" (click)="saveRole()" hidden>Save</button>
          </div>

        </div>
      </div>

    </div>
        <div *ngIf="user ==undefined">
            <form  [formGroup]="userForm" (ngSubmit)="
            addUser(username.value,email.value,password.value)">
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" #username id="username" formControlName="username">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" #email id="email" formControlName="email">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="password" #password formControlName="password">
                </div>
              </div>

                <button class="button" type="submit">ajouter un utilisateur</button>


            </form>
        </div>
        <br>
        <br>
        <button type="button" (click)="goBack()">Go back</button>
    </div>

