<br>
<div class="container">
    <div *ngIf="groupe">
            <form  [formGroup]="equipeForm" (ngSubmit)="saveGroupe()">
                <div class="form-group row">
                  <label for="numero" class="col-sm-2 col-form-label">numero</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="libelle" [(ngModel)]="groupe.numero" formControlName="numero">
                  </div>
                </div>


                  <button class="button" type="submit">Save </button>

              </form>
    </div>
        <div *ngIf="groupe ==undefined">
            <form  [formGroup]="equipeForm" (ngSubmit)="addGroupe(groupe.value)">
                <div class="form-group row">
                <label for="numero" class="col-sm-2 col-form-label">numero</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" #groupe id="numero" formControlName="numero">
                </div>
                </div>

                <button class="button" type="submit">ajouter un domain </button>


            </form>
        </div>
        <br>
        <br>
        <button type="button" (click)="goBack()">Go back</button>
    </div>

