<br>
<div class="container">
    <div *ngIf="role">
            <form  [formGroup]="roleForm" (ngSubmit)="saveRole()">
                <div class="form-group row">
                  <label for="name" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" [(ngModel)]="role.name" formControlName="name">
                  </div>
                </div>
                  <button class="button" type="submit">Save</button>
              </form>
    </div>
        <div *ngIf="role ==undefined">
            <form  [formGroup]="roleForm" (ngSubmit)="addRole(role.value)">
                <div class="form-group row">
                <label for="libelle" class="col-sm-2 col-form-label">Role</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" #role id="role" formControlName="role">
                </div>
                </div>
                <button class="button" type="submit">ajouter un role </button>
            </form>
        </div>
        <br>
        <br>
        <button type="button" (click)="goBack()">Go back</button>
    </div>

