

  <h3><a routerLink="/tournoir/detail" *ngIf="adminPermission"> ajouter un tournoir</a></h3>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">dateDebut</th>
          <th scope="col">dateFin</th>
          <th scope="col">nom</th>
          <th scope="col">equipe</th>
          <th scope="col" *ngIf="adminPermission">update</th>
          <th scope="col" *ngIf="adminPermission">delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let tournoir of tournoirs">

        <tr>
          <th scope="row">{{tournoir.id}}</th>
          <td>{{tournoir.dateDebut}}</td>
          <td>{{tournoir.dateFin}}</td>
          <td>{{tournoir.nom}}</td>
          <td>{{tournoir.equipe?.nom}}</td>
          <td *ngIf="adminPermission"><a routerLink="/tournoir/detail/{{tournoir.id}}">update</a></td>
          <td *ngIf="adminPermission"><button type="button" class="btn btn-danger" (click)="deleteTournoir(tournoir.id!)">delete</button></td>
        </tr>

      </tbody>
    </table>

<app-equipe></app-equipe>
