<br>
<div class="container">
    <div *ngIf="tournoi">
            <form  [formGroup]="tournoiForm" (ngSubmit)="saveTournoi()">
                <div class="form-group row">
                  <mat-form-field appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input matInput id="nom" [(ngModel)]="tournoi.nom" formControlName="nom">
                  </mat-form-field>
                </div>
                <div class="form-group row">
                  <mat-form-field appearance="outline">
                    <mat-label>dateDebut</mat-label>
                    <input matInput id="date_debut" [(ngModel)]="tournoi.date_debut" formControlName="date_debut">
                  </mat-form-field>
                </div>

                <div class="form-group row">
                  <mat-form-field appearance="outline">
                    <mat-label>dateFin</mat-label>
                    <input matInput id="date_fin" [(ngModel)]="tournoi.date_fin" formControlName="date_fin">
                  </mat-form-field>
                </div>
                  <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                      Save
                    </button>
                    <button class="btn btn-warning btn-block" type="submit" (click)="goBack()">
                      Go back
                    </button>
                  </div>
              </form>
    </div>
        <div *ngIf="tournoi ==undefined">
            <form  [formGroup]="tournoiForm" (ngSubmit)="addTournoi(nom.value)">
                <div class="form-group row">
                  <div class="col-sm-10">
                    <mat-form-field appearance="outline">
                      <mat-label>Nom</mat-label>
                      <input matInput #nom id="nom" formControlName="nom">
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <mat-form-field appearance="outline">
                      <mat-label>dateDebut</mat-label>
                      <input matInput #date_debut id="date_debut" formControlName="date_debut">
                    </mat-form-field>
                  </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <mat-form-field appearance="outline">
                        <mat-label>dateFin</mat-label>
                        <input matInput #date_fin id="date_fin" formControlName="date_fin">
                      </mat-form-field>
                    </div>
                    </div>
                  <button class="btn btn-primary btn-block" type="submit">
                    Ajouter une tournoi
                  </button>
            </form>
        </div>
    </div>

