<br>
<div class="container">
    <div *ngIf="match">
            <form  [formGroup]="matchForm" (ngSubmit)="saveMatch()">
                <div class="form-group row">
                  <mat-form-field appearance="outline">
                    <mat-label>Resultat</mat-label>
                    <input matInput id="resultat" [(ngModel)]="match.resultat" formControlName="resultat">
                  </mat-form-field>
                </div>
                  <div class="input-group mb-3">
                    <mat-form-field appearance="fill" >
                      <mat-label>nomEquipe1</mat-label>
                      <mat-select id="nomEquipe1" formControlName="nomEquipe1" [(ngModel)]="match.nomEquipe1">
                        <mat-option [value]="equipe"
                                          *ngFor="let equipe of equipes">{{equipe.nom}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="input-group mb-3">
                    <mat-form-field appearance="fill" >
                      <mat-label>nomEquipe2</mat-label>
                      <mat-select id="nomEquipe2" formControlName="nomEquipe2" [(ngModel)]="match.nomEquipe2">
                        <mat-option [value]="equipe"
                                          *ngFor="let equipe of equipes">{{equipe.nom}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="form-group row">
                    <mat-form-field appearance="outline">
                      <mat-label>Date</mat-label>
                      <input matInput type="datetime-local" id="date" [(ngModel)]="match.date" formControlName="date">
                    </mat-form-field>
                  </div>
                  <div class="input-group mb-3">
                    <mat-form-field appearance="fill" >
                      <mat-label>Stade</mat-label>
                      <mat-select id="stade" formControlName="stade" [(ngModel)]="match.stade">
                        <mat-option [value]="stade"
                                          *ngFor="let stade of stades">{{stade.nom}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="input-group mb-3">
                    <mat-form-field appearance="fill">
                      <mat-label>Tournoi</mat-label>
                      <mat-select id="tournoi" formControlName="tournoi" [(ngModel)]="match.tournoi">
                        <mat-option [value]="tournoi"
                                          *ngFor="let tournoi of tournois">{{tournoi.nom}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                      Save
                    </button>
                    <button class="btn btn-warning btn-block" type="submit" (click)="goBack()">
                      Go back
                    </button>
                  </div>
              </form>
    </div>
        <div *ngIf="match ==undefined">
            <form  [formGroup]="matchForm" (ngSubmit)="addMatch(resultat.value)">
                <div class="form-group row">
                  <div class="col-sm-10">
                    <mat-form-field appearance="outline">
                      <mat-label>Resultat</mat-label>
                      <input matInput #resultat id="resultat" formControlName="resultat">
                    </mat-form-field>
                  </div>
                </div>
                  <button class="btn btn-primary btn-block" type="submit">
                    Ajouter une equipe
                  </button>
            </form>
        </div>
    </div>

