<div class="mat-elevation-z8">
  <h2><a routerLink="/arbitre/detail" *ngIf="adminPermission">Ajouter une arbitre</a></h2>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>
  <mat-table [dataSource]="dataSource" matSort class="demo-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let arbitre of arbitres"> {{arbitre.id}} </mat-cell>
    </ng-container>

    <!-- Nom Column -->
    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
      <mat-cell *matCellDef="let arbitre of arbitres"> {{arbitre.nom}} </mat-cell>
    </ng-container>

    <!-- Prenom Column -->
    <ng-container matColumnDef="prenom">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Prenom </mat-header-cell>
      <mat-cell *matCellDef="let arbitre of arbitres"> {{arbitre.prenom}} </mat-cell>
    </ng-container>

    <!-- Match Column -->
    <ng-container matColumnDef="match">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Match </mat-header-cell>
      <mat-cell *matCellDef="let arbitre of arbitres">
        {{arbitre.match?.nomEquipe1.nom}} VS {{arbitre.match?.nomEquipe2.nom}}
      </mat-cell>
    </ng-container>

    <!-- Update Column -->
    <ng-container matColumnDef="update" *ngIf="adminPermission">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let arbitre of arbitres">
        <a routerLink="/arbitre/detail/{{arbitre.id}}" class="btn btn-primary">update</a>
      </mat-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete" *ngIf="adminPermission">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let arbitre of arbitres">
        <button type="button" class="btn btn-danger" (click)="deleteArbitre(arbitre.id!)">delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>



